on:
  push:
    branches:
      - main    
jobs:
    #This workflow contains a single job called "ci" 
  ci:
    runs-on: [self-hosted, linux, X64, research]
    steps:
      - name: Step 1 - Checkout dev branch from GitHub 
        uses: actions/checkout@v2
      
      - name: Step 2 - Gradle wrapper version validation
        uses: gradle/wrapper-validation-action@v1
      
      - name: Step 3 - Use Java version 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
          cache: gradle
                  
      - name: Step4 - Build with Gradle
        uses: gradle/gradle-build-action@v2.1.1
        with:
          arguments: build
          
      - name: Step5 - Listing the build file name
        run: |
          ls '${{ github.workspace }}'/build/libs
          
      - name: Step6 - Execute of jar file
        run:
          java -cp '${{ github.workspace }}'/build/libs/gradle-github-actions-example.jar com.philips.Application
